#root {
  font-size: 10px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container-card{
  max-width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
 

}

.card {
 
  padding: 2em;
  width: 80%;
  border: 1px solid black;
  font-size: 15px;
  border-radius: 1rem;
 
}

.read-the-docs {
  color: #888;
}


.title{
  width: 100%;
  text-align: center;
 
}
.img{
  width: 54%;
}
b{
  color: blue;
  font-weight: bold;
}
button{
  cursor: pointer;
  border-radius: 1rem;
  margin: 3px;
}
.btn-change{
  margin: 2rem;

}
.btn-pais{
  margin: 8px;
}
.group-btn{
  display: flex;
 justify-content: center;
 justify-items: center;
 align-content: center;
 align-items: center;
 margin-top: 1rem;
 cursor: pointer;


}
